<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.aemcentral.hyperwatch.dashboard.servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.aemcentral.hyperwatch.dashboard.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InitialiseVM</servlet-name>
  	<display-name>InitialiseVM</display-name>
  	<description></description>
  	<servlet-class>com.aemcentral.hyperwatch.dashboard.servlets.InitialiseVM</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Collectdata</servlet-name>
  	<display-name>Collectdata</display-name>
  	<description></description>
  	<servlet-class>com.aemcentral.hyperwatch.dashboard.servlets.Collectdata</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Counts</servlet-name>
  	<display-name>Counts</display-name>
  	<description></description>
  	<servlet-class>com.aemcentral.hyperwatch.dashboard.servlets.Counts</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUser</servlet-name>
  	<display-name>AddUser</display-name>
  	<description></description>
  	<servlet-class>com.aemcentral.hyperwatch.dashboard.servlets.AddUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUser</servlet-name>
  	<display-name>DeleteUser</display-name>
  	<description></description>
  	<servlet-class>com.aemcentral.hyperwatch.dashboard.servlets.DeleteUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DecommissionVM</servlet-name>
  	<display-name>DecommissionVM</display-name>
  	<description></description>
  	<servlet-class>com.aemcentral.hyperwatch.dashboard.servlets.DecommissionVM</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChartInfo</servlet-name>
  	<display-name>ChartInfo</display-name>
  	<description></description>
  	<servlet-class>com.aemcentral.hyperwatch.dashboard.servlets.ChartInfo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/servlets/usermanagement/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/servlets/usermanagement/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InitialiseVM</servlet-name>
  	<url-pattern>/servlets/ops/initialise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Collectdata</servlet-name>
  	<url-pattern>/servlets/ops/collectdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Counts</servlet-name>
  	<url-pattern>/servlets/dataops/counts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUser</servlet-name>
  	<url-pattern>/servlet/userops/adduser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUser</servlet-name>
  	<url-pattern>/servlet/userops/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DecommissionVM</servlet-name>
  	<url-pattern>/servlets/ops/vm/decommission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChartInfo</servlet-name>
  	<url-pattern>/ChartInfo</url-pattern>
  </servlet-mapping>
</web-app>
